.spinner {
  opacity: 0;
  transition: opacity .1s;
}

.loading {
  opacity: 1;
}

.sign-up-container {
  margin-top: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
